@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --blue: #163756;
    --lightblue: #3078BC;
    --yelow: #E7AF19;
}

body{
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    overflow-x: hidden;
    color: var(--blue) !important;
}

.btn-blue{
    background-color: var(--blue);
    color: white;
}

.btn-blue:hover{
    background-color: #0a2239;
    color: white;
    transition: 0.3s;
}

.btn-outline-blue{
    background-color: transparent;
    color: var(--blue);
    border: 1px solid var(--blue);
}

.btn-outline-blue:hover{
    background-color: #0a2239;
    color: white;
    border: 1px solid var(--blue);
    transition: 0.3s;
}