@import 'bootstrap/dist/css/bootstrap.css';
@import url('all.min.css');
@import "@fancyapps/ui/dist/fancybox/fancybox.css";

:root{
    --blue: #163756;
    --lightblue: #3078BC;
    --yelow: #E7AF19;
}

body{
    font-family: "League Spartan", sans-serif !important;
    font-optical-sizing: auto;
    overflow-x: hidden;
    color: var(--blue);
}

.fs-0{
    font-size: 60px;
}

.mt-6{
    margin-top: 6rem !important;
}

.mb-6{
    margin-bottom: 6rem !important;
}

.my-6{
    margin-top: 6ch !important;
    margin-bottom: 6rem !important;
}

.bg-blue{
    background-color: var(--blue) !important;
    color: white !important;
}

.row{
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.nav-link {
    font-weight: 200;
    color: var(--blue);
}

.text-yellow{
    color: var(--yelow);
}

.text-blue{
    color: var(--blue);
}

.bg-blue-gradient{
    color: white;
    background: linear-gradient(150deg, var(--blue), var(--lightblue) );
}

.btn-light {
    --bs-btn-color: var(--blue);
    --bs-btn-hover-color: var(--blue);
    --bs-btn-active-color: var(--blue);
    --bs-btn-disabled-color: var(--blue);
    --bs-btn-border-color: var(--blue);
}

.blue-hr{
    color: var(--blue);
    opacity: 1;
    border-bottom: 1px solid var(--blue);
}

.btn-blue{
    background-color: var(--blue);
    line-height: 1;
    color: white;
}

.btn-blue:hover{
    background-color: #0a2239;
    color: white;
    transition: 0.3s;
}

.btn-outline-blue{
    background-color: transparent;
    color: var(--blue);
    line-height: 1;
    border: 1px solid var(--blue);
}

.btn-outline-blue:hover, .btn-outline-blue:active, .btn-outline-blue:focus, .btn-outline-blue.active{
    background-color: #0a2239 !important;
    color: white !important;
    border: 1px solid var(--blue);
    transition: 0.3s;
}

.fondo-oscuro{
    background: rgba(22, 55, 86, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.amenity-pin{
    position: absolute;
    width: 40px;
}

.form-control {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--blue);
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--blue);
    border-radius: 0px;
}

#lead_form .form-control{
    border-bottom: 1px solid white;
    color: white;
}

.form-control:focus {
    background-color: transparent;
}

.home-img{
    height: 91vh;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--blue);
}

.bg-blue-map{
    background: inherit;
}

.amenities-map-text{
    color: white;
}

.page-link.active, .active > .page-link {
    background-color: var(--blue);
    border-color: var(--blue);
}

.page-link {
    color: var(--blue);
}

.poly-location{
    fill: var(--yelow);
    mix-blend-mode: hard-light;
    stroke-width: 1px;
    stroke: white;
}

.navbar-nav .nav-link.active{
    border-bottom: 2px solid var(--blue);
}

.disponible-class polygon{
    fill: rgba(0, 163, 60, 0.7);
    mix-blend-mode: hard-light;
    stroke: white;
    stroke-width: 1px;
    transition: 0.2s;
}

.disponible-class:hover polygon{
    fill: rgba(0, 163, 60, 1);
    transition: 0.2s;
}

.apartada-class polygon{
    fill: rgba(206, 173, 0, 0.7);
    mix-blend-mode: hard-light;
    stroke: white;
    stroke-width: 1px;
    transition: 0.2s;
}

.apartada-class:hover polygon{
    fill: rgba(206, 173, 0, 1);
    transition: 0.2s;
}

.vendida-class polygon, .vendida-himalia{
    fill: rgba(220, 53, 69, 0.7);
    mix-blend-mode: normal;
    stroke: white;
    stroke-width: 1px;
    transition: 0.2s;
}

.vendida-class:hover polygon{
    fill: rgba(220, 53, 69, 1);
    transition: 0.2s;
}

@media (max-width: 992px) {

    .mt-6{
        margin-top: 3.5rem !important;
    }
    
    .mb-6{
        margin-bottom: 3.5rem !important;
    }
    
    .my-6{
        margin-top: 3.5rem !important;
        margin-bottom: 3.5rem !important;
    }

    .fs-0{
        font-size: 2.5rem;
    }

    .home-img{
        height: 90vh;
    }

    .amenity-pin{
        width: 25px;
    }

    .bg-blue-map{
        background: linear-gradient(150deg, var(--blue), var(--lightblue) );
    }

    .amenities-map-text{
        color: var(--blue);
    }
}